body {
  font-family: 'Roboto', sans-serif;
  --primary-color: #9f0a0e;
  --primary-color-rgba: 159, 10, 14; 
  --secondary-color: #ffcc01;
  --text-color: #b2915b;
}

.navbar,
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color .5s ease-in-out;
}

.navbar {
  height: 70px;
}

.navbar-brand {
  position: relative;
  z-index: 10;
}

.navbar-brand .logo-lg {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 120px;
}

.navbar-collapse {
  padding-left: 160px;
}


@media screen and (max-width: 768px) {
  .navbar {
    height: 90px;
  }
  
  .navbar-brand .logo-sm {
    width: 100px;
  }

  .navbar-nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
  }
  

  .navbar-collapse {
    padding-left: 0;
  }
}

.nav-item {
  padding-right: 20px;
}

.nav-item a {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.nav-item a {
  color: white !important;
}

.nav-item.active > a {
  color: var(--secondary-color) !important;
}

.nav-item > .dropdown-menu > a:hover,
.nav-item > .dropdown-menu > a:active {
  background-color: transparent !important;
  color: var(--secondary-color) !important;
}

.nav-item > .dropdown-menu > a.active {
  color: var(--secondary-color) !important;
  background-color: transparent !important;
}

header {
  height: 80vh;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url(../images/banner/banner.jpg) fixed center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: Corinthia, cursive;
  font-size: 8rem;
  color: white;
  padding-bottom: 5rem;
}

header img {
  animation-name: beating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  padding-right: 2rem;
}

@keyframes beating {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) { 
  header h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  header img {
    width: 200px;
    padding-top: 30px;
  }

  header span {
    font-size: 5rem;
    padding-top: 30px;

  }
}

.common-title h1 {
  font-family: 'Luxurious Script', cursive;
  font-size: 5rem;
  color: var(--text-color);
  text-align: center;
}

.common-title .underline {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.common-title .underline img{
  width: 10rem;
  height: .5rem;
}

.introduction p {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.location {
  overflow: hidden;
}

.location-img {
  backface-visibility: hidden;
  transition: all .5s;
}

.location-img:hover {
  transform: scale(1.05);
}

.fromLeft {
  animation-name: fromLeft;
  animation-duration: 3.5s;
}

.fromRight {
  animation-name: fromRight;
  animation-duration: 3.5s;
}

@keyframes fromLeft{
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight{
  0% {
    transform: translateX(300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

footer {
  /* background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)); */

  background-color: var(--primary-color);
  padding: 0.7rem 3rem !important;
  margin-top: 3rem;
  color: white
}

footer .logo img {
  width: 35px;
}

footer .line {
  width: 100%;
  border-top: 1px solid white;
}

header.ha-long {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url(../images/ha-long/banner.png) fixed center/cover no-repeat;
}

header.hoi-an {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url(../images/hoi-an/banner.png) fixed center/cover no-repeat;
}

header.phu-quoc {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url(../images/phu-quoc/banner.png) fixed center/cover no-repeat;
}

section.under-construction {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: -50px;
}

section.under-construction img {
  width: 50%;
} 

@media screen and (max-width: 768px) {
  section.under-construction img {
    width: 100%;
  } 
}